*{

    padding : 0;
    margin : 0;
    box-sizing: border-box;

}

body
{
  display:flex;
  height: 100vh;
  background:cornflowerblue;
}


.game{
  
  width: 700px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.card{
  width: 25%;
  height: 30%-10px;
  margin: 5px;
  position: relative;
  padding: 10px;
  transform: scale(1);
  transform-style:preserve-3d ;
  transition: transform 0.5s;
  
  
}
.card:active{
  transform: scale(0.97);
  transition: transform 0.2s;
}
.back-face,.front-face{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  backface-visibility: hidden;
  
}
.card.flip{  transform: rotateY(180deg);
}
.front-face{
  transform: rotateY(180deg);
}
.reset-btn{
  cursor: pointer;
}
.btn{
  border-radius: 1em;
  border:none;
  color:chocolate;
  box-shadow: 5px 2px 20px 0 gray;
  padding: 0.8em;
}
.reset-btn{
  background: khaki;
}
.modal{
  display: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: lightslategrey;

}
.modal-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0.8em solid burlywood;
  width:80%;

}
.playagain-btn{
  font-size: 2em;
}
.movescounter{
  padding: 0.5em;
}
.timer{
  font-size: 1em;
}
p{
  font-size: 1.6em;
}
p.stats{
  font-weight: 600;
}
p.stats:last-child {
  margin-bottom: 1em;
}
.close{
  align-self: flex-end;

  color: blue;
  font-size: 5em;
}
.close:hover,
.close:focus{
  color: green;
  text-decoration: none;
  cursor: pointer;
}
.modal-img{
  display: inline;
  margin: 1em 0 1em;
  width: 20em;
}
